/* Para ordenadores y móviles */
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
}

.bloque_Formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bloque_Formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.contenido_Formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 500px;
}
.contenido_Txt{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    width: 300px;
    height: 300px;
}
.espacio{

}
.input{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 200px;
    height: 50px;

}
button{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    width: 200px;
    height: 50px;
}

.contenido_Imagen{
  width: 200px;
  height: 200px;  
}
.contenido_Imagen img{
width: 200px;
  height: 200px;
}


.mensajeError{
    color: darkred;
}
